<div class="row py-3 w-100">
    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 px-4">
        <div class="input-group input-group-sm col-lg-6 shadow-sm rounded-3">
            <span class="input-group-text bg-white border-end-0" id="input-group-sm-example">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control border-start-0" aria-label="Small input group" aria-describedby="input-group-sm">
        </div>
    </div>
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <nav class="nav nav-pills" id="pills-tab" role="tablist" *ngIf="navPills">
            <ul class="nav nav-pills">
                <li [class]="pills.isListClass" *ngFor="let pills of navPills">
                    <a *ngIf="pills.isDefaultPills == true"
                        [class]="pills.isClass"
                        [id]="pills.isId" 
                        data-bs-toggle="pill" 
                        href="#"
                        (click)="getStatusIssues(pills.isPills)"
                        role="tab" 
                        aria-selected="true">{{pills.isLabel}}
                        <i [class]="pills.isIconClass" aria-hidden="true"></i>
                    </a>
                    <a  *ngIf="pills.isPills == 'dropDownPills'"
                        [class]="pills.isClass"
                        [id]="pills.isId" 
                        data-bs-toggle="dropdown" 
                        href="#" 
                        role="button" 
                        aria-expanded="false">
                        <i [class]="pills.isIconClass" aria-hidden="true"></i>
                    </a>
                    <ul *ngIf="pills.isPills == 'dropDownPills'" [class]="pills.isUlClass">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>            
          </nav>
    </div>
</div>