<div class="row p-3">
    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="input-group input-group-sm col-lg-6 shadow-sm rounded-3">
            <span class="input-group-text bg-white border-end-0" id="input-group-sm-example">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control border-start-0" aria-label="Small input group" aria-describedby="input-group-sm">
        </div>
    </div>
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <nav class="nav nav-pills" id="pills-tab" role="tablist">
            <a class="nav-link border shadow-sm active py-2 px-4 mx-1" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">All</a>

            <a class="nav-link border mx-1" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">In Progress</a>

            <a class="nav-link border mx-1" id="pills-disabled-tab" data-bs-toggle="pill" href="#pills-disabled" role="tab" aria-controls="pills-disabled" tabindex="-1" aria-disabled="true">Declined</a>

            <a class="nav-link border mx-1" id="pills-disabled-tab" data-bs-toggle="pill" href="#pills-disabled" role="tab" aria-controls="pills-disabled" tabindex="-1" aria-disabled="true">Issued</a>

            <a class="nav-link border mx-1" id="pills-disabled-tab" data-bs-toggle="pill" href="#pills-disabled" role="tab" aria-controls="pills-disabled" tabindex="-1" aria-disabled="true">Booked</a>

            <a class="nav-link border mx-1" id="pills-disabled-tab" data-bs-toggle="pill" href="#pills-disabled" role="tab" aria-controls="pills-disabled" tabindex="-1" aria-disabled="true">Expired</a>
          </nav>
    </div>
</div>