<div *ngIf="loginHeader">
    <div class="bgFade position-absolute h-100 w-100 bg-black start-0 top-0" *ngIf="isFade"></div>
    <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" *ngIf="isModal">
        <div class="modal-dialog">
        <div class="modal-content bg-light radius">
            <div class="modal-header border-0">
            <p class="modal-title text-center" id="modalHeadings">Login</p>
            <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
            </div>        
            <nk-login></nk-login>
            <div class="btn-section text-center w-100 px-3 pb-3" *ngIf="isActions">
            <div *ngFor="let actionBtn of isActions">
                <button [type]="actionBtn.isType" [class]="actionBtn.isClass" [id]="actionBtn.isId" (click)="actionBtn.isAction">{{actionBtn.isLabel}}</button>
            </div>
            </div>
        </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-xl navbar-light bannerNavBar" *ngIf="bannerInfo">
        <div class="container-fluid">
            <div class="logo px-2" *ngFor="let logos of bannerInfo">
                <a [class]="logos.isClass" href="#">{{logos.isLogo | uppercase}}</a>
                {{logos.isLogo | uppercase}}
            </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <li [class]="topNavs.isNavClass" *ngFor="let topNavs of bannerInfo">
                    <a [class]="topNavs.isClass" href="">{{ topNavs.isLabel | uppercase }}</a>
                </li>         
            </ul>
            <span class="navbar-text nav px-2">     
                <select class="bg-transparent text-white border-0 me-2">
                    <option  *ngFor="let lang of languages; let i = index" [value]="i">{{lang.isOptionLabel}}</option>
                </select>
                <button type="button" class="btn btn-primary btn-sm" (click)="getModal()">Login</button>
            </span>
        </div>
        </div>
    </nav>
</div>

