<nav class="navbar navbar-expand-xl navbar-light bannerNavBar">
    <div class="container-fluid">
        <div class="logo px-2" *ngFor="let logos of bannerNav">
            <a [class]="logos.isClass" href="#">{{logos.isLogo | uppercase}}</a>
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
            <li [class]="topNavs.isNavClass" *ngFor="let topNavs of bannerNav">
                <a [class]="topNavs.isClass" href="">{{ topNavs.isLabel | uppercase }}</a>
            </li>         
        </ul>
        <span class="navbar-text nav px-2">     
            <select class="bg-transparent text-white border-0 me-2">
                <option  *ngFor="let lang of languages; let i = index" [value]="i">{{lang.isOptionLabel}}</option>
                <!-- <option value="1">English (UK)</option>
                <option value="2">English (IN)</option>
                <option value="3">French</option>
                <option value="4">Italian</option> -->
            </select>

            <button type="button" class="btn btn-primary btn-sm">Login</button>
        </span>
      </div>
    </div>
</nav>