<nav class="navbar navbar-expand-xl navbar-light bannerNavBar" *ngIf="bannerInfo">
    <div class="container-fluid">
        <div class="logo px-2" *ngFor="let logos of bannerInfo">
            <a [class]="logos.isClass" href="#">{{logos.isLogo | uppercase}}</a>
            {{logos.isLogo | uppercase}}
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
            <li [class]="topNavs.isNavClass" *ngFor="let topNavs of bannerInfo">
                <a [class]="topNavs.isClass" href="">{{ topNavs.isLabel | uppercase }}</a>
            </li>         
        </ul>
        <span class="navbar-text nav px-2">     
            <select class="bg-transparent text-white border-0 me-2">
                <option  *ngFor="let lang of languages; let i = index" [value]="i">{{lang.isOptionLabel}}</option>
            </select>

            <button type="button" class="btn btn-primary btn-sm" (click)="getModal()">Login</button>
        </span>
      </div>
    </div>
</nav>
<nk-login></nk-login>

<div class="card align-middle shadow p-4 middle-banner">
    <h1 class="h1 fw-bold">International Insurance Brokers</h1>
</div>