<div class="card position w-100 h-100 position-absolute bannerLabel bg-transparent">
    <div class="card-body pt-0">
        <div class="container">
            <nk-banner-nav-bar></nk-banner-nav-bar>
        </div>
    </div>
</div>

<div class="card position position-absolute h-75 w-100 banner">
<div id="carouselWithIndicators" class="carousel slide" data-bs-ride="carousel">    
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="1" class=""></li>
      <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="2" aria-current="true" class=""></li>
      <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="3" aria-current="true" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/Airport_1.png" class="img-fluid d-block" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="assets/images/Airport_2.png" class="img-fluid d-block" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="assets/images/cargo-ship.png" class="img-fluid d-block" alt="Slide 3">
      </div>
      <div class="carousel-item">
        <img src="assets/images/cargo-truck.png" class="img-fluid d-block" alt="Slide 4">
      </div>
    </div>
  </div>
</div>